html
  head
    title= title
    center
      body
        h1= head
        p= texto
        form(action="",method="")
        p= data1
        input(type='text',name='nombre',placeholder='Aquiles')
        br
        p= data2
        input(type='text',name='apellidos',placeholder='Esquivel Madrazo')
        br
        p= data3
        input(type='text',name='boleta',placeholder='2222')
        br
        br
        button(type='submit') Enviar